<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>SnapzyIcon</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Snapzy needs microphone access to record audio with your screen recordings.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Snapzy needs screen recording permission to capture screenshots and record your screen.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/duongductrong/Snapzy/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zcoJ90nh+SEFg6ZEkb9fwQCEK51vSIRwyn6tOsQisL0=</string>
	<key>PolarOrganizationId</key>
	<string>$(POLAR_ORG_ID)</string>
	<key>PolarApiBaseUrl</key>
	<string>$(POLAR_API_BASE_URL)</string>
	<key>PolarSandboxApiBaseUrl</key>
	<string>$(POLAR_SANDBOX_API_BASE_URL)</string>
</dict>
</plist>
